body {
  height: 100vh;
  font-family: 'Times New Roman';
  margin: 0;
  background: #fbf1c7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play {
  font-size: 50px;
  color: #1d2021;
  margin: 60px;
}

.games {
  font-size: 30px;
  color: #1d2021;
}

.button {
  margin: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}

button {
  color: #f9f5d7;
  display: block;
  width: 100%;
  border: none;
  background-color: #cc241d;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block {
  background-color: #458588;
}
